aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
CustomModules[bot_directory,log_handler]
discord.py
frozenlist
idna
jsonschema
jsonschema-specifications
multidict
propcache
psutil
pyrsistent
python-dotenv
referencing
rpds-py
sentry-sdk
urllib3
yarl
